.formControl.error input,
.formControl.error textarea
{
    border: solid blue 3px;
}

.formControl.error span
{
    color: antiquewhite;
}

.formSummaryError {
    background-color: olivedrab;
    border:  green 2 px solid;
    padding: 5px;
    color: rgb(248, 246, 241);
}