.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems .dialog {
    padding: 10px;
}

.dialogs img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.dialog .active {
    color: yellowgreen;
}

.messages {
    padding: 30px;
}

.message {
    
    color: slateblue;
}